@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #e6fcf5;
  --danger-color: #dc3545;
  --success-color: #099268;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pompiere', cursive;
  font-size: 1rem;
  line-height: 1.6;
  color: #e6fcf5;
}

a {
  text-decoration: none;
  padding: 10px;
  color: #e6fcf5;
  font-size: 16px;
}


ul {
  list-style: none;
}

img {
  width: 100%;
}



/* Navbar */
h1 {
    font-size: 1.9rem;
}

.home_heading {
  text-align: center;
  padding: 180px 0;

}

.home {
    /* background-color: #183153; */

}
.home_heading h1{
  font-size: 4rem;
}

.home_heading p {
  font-size: 2rem;
}



@media only screen and (max-width: 600px) {

  h1{
    text-align: center;
    font-size: 25px
  }
  img {
    width: 100%;
    height: auto;;
  }
  .social-media ul a{
    padding: 1rem;
    text-align: center;
  }
  .home_heading h1 {
    font-size: 35px;
  }
  .home_heading p {
    font-size: 20px;
  }
  .about {
    padding: 0 30px !important;
  }
  .about_paragraph {
    font-size: 20px;
  }
  .aboutHeading {
    font-size: 35px;
  }
  .portfolio_heading {
    font-size: 35px;
  }
  .card {
    width: auto !important;
  }
  
}