
.footer {
  text-align: center;
  background-color: #099268;
  padding: 15px 70px;
}

.social {
  color: #e6fcf5;
  font-size: 10px;
}

/* .fas {
  padding: 10px;
} */
.social-media a:hover{
  color: rgb(254, 205, 11);
}

@media only screen and (max-width: 768px) {
 .contact-container {
   height: 100vh;
 }
 .half {
   float: none; 
   width: 100%;
   margin-bottom: 1em;
 }
 input {
  
   padding: 2em;
  }
  textarea {
    
    height: 30vh;

  }
}